<h2>Displaying Single Clothing Item</h2>

<dl>
  <dt>Clothing Type</dt>
  <dd><%= @clothing_item.clothing_type %></dd>
  <dt>Clothing Material</dt>
  <dd><%= @clothing_item.clothing_material %></dd>
  <dt>Clothing Color</dt>
  <dd><%= @clothing_item.clothing_color %></dd>
</dl>
